[submodule "repo/skills/caveman"]
	path = repo/skills/caveman
	url = https://github.com/JuliusBrussee/caveman.git
[submodule "repo/skills/karpathy"]
	path = repo/skills/karpathy
	url = https://github.com/multica-ai/andrej-karpathy-skills.git
[submodule "repo/skills/planning-with-files"]
	path = repo/skills/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule "repo/skills/ux-ui"]
	path = repo/skills/ux-ui
	url = https://github.com/plugin87/ux-ui-agent-skills.git
[submodule "repo/skills/marketingskills"]
	path = repo/skills/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule "repo/skills/game-studios"]
	path = repo/skills/game-studios
	url = https://github.com/Donchitos/Claude-Code-Game-Studios.git
[submodule "repo/skills/graphify"]
	path = repo/skills/graphify
	url = https://github.com/Graphify-Labs/graphify.git
[submodule "repo/skills/understand-anything"]
	path = repo/skills/understand-anything
	url = https://github.com/Egonex-AI/Understand-Anything.git
[submodule "repo/skills/awesome-agent-skills"]
	path = repo/skills/awesome-agent-skills
	url = https://github.com/VoltAgent/awesome-agent-skills.git
[submodule "repo/skills/skills"]
	path = repo/skills/skills
	url = https://github.com/anthropics/skills
[submodule "repo/skills/ui-ux-pro-max-skill"]
	path = repo/skills/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "repo/skills/superpowers"]
	path = repo/skills/superpowers
	url = https://github.com/obra/superpowers
[submodule "repo/skills/antigravity-awesome-skills"]
	path = repo/skills/antigravity-awesome-skills
	url = https://github.com/sickn33/antigravity-awesome-skills
